body {
  background: #333;
  color: #fff
}

.navbar {
  border-bottom: #6495ED 3px solid;
  opacity: 0.8
}

#home-head {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px
}

#home-head .dark-overlay {
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7)
}

#home-head .home-inner {
  padding-top: 150px
}

#home-head .card-form {
  opacity: 0.8
}

#home-head .fas {
  color: #008ed6;
}
